// App主色调

//主色
$color_master: #00C59F;

// 辅助文字
$color_auxiliary_text: #A2A2A2;

// 辅助色
$color_auxiliary: #FF4C34;

// 边框
$color_border: #DDDDDD;

// 标题色
$color_title: #222222;

// 线条
$color_line: #F0F0F0;

// 正文
$color_base_text: #6F6F6F;

// 背景色
$color_background: #F6F6F6;


